body {
    background-color: #F6F6F6;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #222222;
	padding: 50px;
	font-family: Arial;
	margin: 15px 0;
}
a {
	color: #05080C;
}
h1, h2, h3, h4, h5, .boldText {
	color: #030609;
}

a {
	font-weight: bold;
	font-color: #05080C;
	text-align: center;
}

nav {
	width:200px
	margin:auto;
	text-align: center;
}

.active {
	text-decoration: none;
	font-style: italic;
}

h1 {
	text-align: center;
	text-transform: uppercase;

}

h3 { 
	text-transform: uppercase 
}

img {
	border-width: 1px;
	border-style: solid;
	border-color: #222222;
	padding: 7px;
	max-width: 140px;
	float:right;
	margin-left: 30px;
}


