body {
	background-color: #F6F6F6;
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: #222222;

    background-color: #F6F6F6;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #222222;

	padding: 50px;
	font-family: Arial;
	border-margin: 30px;

}

a
{font-weight: bold;
font-color: #05080C;
text-align: center;}

nav{
	width:200px
	margin:auto;
	text-align: center;
}

.active{
	text-decoration: none;
	font-style: italic;

}

h1{
	text-align: center;
	text-transform: uppercase;

}

h2{ text-transform: uppercase 
	}

img{
	border-width: 1px;
	border-style: solid;
	border-color: #222222
	padding: 5px;
	max-width: 230px;
	float:right;
	margin-left: 30px;


}



