*{
	box-sizing: border-box;
	min-height: 50px;
}

header{
	overflow: hidden;
	border: solid black;
}



header nav ul li {
	float: left;
	min-width: 30px;
	min-height: 20px;
	list-style: none;
	padding: 10px;
	border: 1px solid black;

}

.hamburger{
	float: right;
	min-width: 30px;
	min-height: 20px;
	list-style: none;
	margin-right: 10px;
	border: 1px solid black;

}
.nav ul li{
	max-width: 100%;
	max-height: 100%;
	margin:;
}


section{
	min-width: 50px;
	min-height: 50px;
	list-style: none;
	padding: 10px;
	border: 1px solid black;

}

.boxOne,
.boxTwo,
.boxThree,
.boxFour{
	min-width: 150px;
	min-height: 150px;
	padding: 10px;
	border: 1px solid black;
	display: inline-block;

}

.rowFour{
	min-width: 75px;
	min-height: 75px;
	padding: 10px;
	border: 1px solid black;
	display: inline-block;
}