.content {
	min-height: 1000px;
	padding: 10px 20px;
    text-align: center;
}

h3, .solutionsList {
	max-width: 450px;
}

.solutionsList div {
	margin: 10px 0;
}

.solutionsList .highlight span {
	text-decoration: underline;
}

@media screen and (max-device-width: 767px) {
	h3, .solutionsList {
		max-width: unset;
	}
	.solutionsList div {
		margin: 40px 0;
	}
}