@import url('https://fonts.googleapis.com/css?family=Cinzel|Courgette|Great+Vibes|Passion+One|Permanent+Marker|Poiret+One');
* {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

blockquote{
color: #a5a4a4;
font-style: italic;
margin: 30px;
padding: 30px;
font-size: 30px;
}

button {
    cursor: pointer;
}

button.highlight {
    background: gold;
    padding: 12px;
    font-size: 15px;
    margin: 9px;
    border: none;
    border-radius: 7px;
}

h3{
    text-align: center;
}
body {
	margin: 0px;
	padding: 0px;
}

html {
	background: whitesmoke;
}

header{
	background-color: grey;
    background: rgba(54, 25, 25, .5);
    height: 50px;
    color: white;
    font-family: 'Cursive';
}

header{
    background-color: grey;
    background: rgba(54, 25, 25, .5);
    font-family: 'Poiret One', cursive;
    font-size: xx-large;
    font-weight: 900;
    text-decoration: underline;
}

header span {
    cursor: pointer;
}

.container {
    height: 100%;
    margin: 0 auto;
    max-width: 960px;
    background: white;
}

img {
    height: 500px;
    float: left;
    position: absolute;
    
}

.photoOne {

    background-color: grey;
    height: 189px;
    width: 100%;
    border: 1px solid #DDDDDD;
    width: 200px;
    height: 200px;
    position: relative;
}

#info{
	background: none;
}

.container {
    background-color: #ffffff;
    background-image: url(../images/backgroundpic.jpg);
    background-repeat: no-repeat;
    background-size: 900px;
    display: flex;
    flex-direction: column;
}

.content {
	min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 25px;
}

.quote {
	background: black;
	color: white;
	text-align: center;
	padding: 10px;
    border-top:solid, white;
}

.content .boxed-content {
	display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: whitesmoke;
    padding: 10px 25px;
    height: 280px;
}

footer {
	background: black;
	padding: 20px 0;
}
.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small-text {
	font-size: 15px;
    font-weight: normal;
    font-style: italic;
    margin-top: 29px
}

.highlight {
	font-weight: bold;
	color: rgba(54, 25, 25, .5);
}

.social-media a {
	color: white;
}

.infoBoxes{
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    border-style: solid, whitesmoke;
    justify-content: space-around;
}
.infoBox1,
.infoBox2,
.infoBox3{
    border-style: solid;
    border-color: white;
    padding: 10px;
    margin: 10px;
    background-color: grey;
    height: 300px;
    width: 315px;

}
p{
    margin-top: 10px;
}

blockquote{
    margin-top: 47px;

}