.container {
  width: 650px;
  margin: auto;
}

.tile {
  width: 130px;
  height: 130px;
  float:left;
}

.tile img {
  width: 100%;
  display: none;
  transition: all 5s;
}

.tile {
  background-color: rgb(176, 235, 23);
  cursor: pointer;
}

.tile:nth-child(2n+2) {  
  background-color: rgb(200, 217, 126);
}

.tile:nth-child(3n+3) {  
  background-color: rgb(130, 189, 46);
}

.matched img,
.flipped img {
  display: block;
}